<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/animation.css">
    <title>NekoApp</title>
</head>
<body>
    <div id="app">
        <header v-if="!watching">
            <h1>NekoApp</h1>
        </header>
        <div v-if="!watching" v-for="destaque in destaques" class="destaque" :style="{backgroundImage: 'url(\'' + destaque.background + '\')',}"  >
            <div class="logo" :style="{backgroundImage: 'url(\'' + destaque.logo + '\')',}">
            </div>
            <p>{{ destaque.resumo  }}</p>
            <button class="watch_button" @click="watch(destaque)"><i class="fas fa-play"></i>     Assistir</button>
        </div>
        <!-- Watch -->
        <div class="watch" v-if="watching" :class="watching ? 'watch_full' : '' ">
            <div class="preview" :style="{backgroundImage: 'url(\'' + watching_anime.background + '\')',}">
                <div class="close" @click="closeWatch"><i class="far fa-times-circle"></i></div>
            </div>
            <h1>{{ watching_anime.titulo }}</h1>
        </div>
        <!-- Lista -->
        <div class="scroll" v-if="!watching">
                <h1>Animes</h1>
                <div class="anime_img"  @mouseover="hoverOver(anime)" v-for="anime in animes"
                @click="view(anime, 0)" @mouseout="hoverOut(anime)" :class="anime.hover ? 'zoom' : '' " :style="{backgroundImage: 'url(\'' + anime.capa + '\')',}">
                    <div class="anime_hover">
                        <i class="fas fa-play"></i>
                        <h1 class="anime_title">{{ anime.titulo }}</h1>
                    </div>
                </div>
        </div>
        <div class="view" v-if="load && !watching && viewAnime">
            <div class="close" @click="closeView"><i class="far fa-times-circle"></i></div>
            <h1>{{ loadAnime.titulo }}</h1>
            <p>{{ loadAnime.resumo }}</p>
            <div class="background" :style="{backgroundImage: 'url(\'' + loadAnime.background + '\')',}"></div>
            <button class="watch_button" @click="watch(loadAnime)"><i class="fas fa-play"></i>     Assistir</button>
        </div>
        </div>  
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/index.js?version=1"></script>
</body>
</html>